@function lightOrBlack($color) {
  $result: invert($color);
  $lightness: lightness($result);

  @if ($lightness < 50) {
    $result: $text-color;
  } @else {
    $result: $white-color;
  }

  @return $result;
}
