$main-color: #46b174;
$bg-color: #eff3f6;
$text-color: #000;
$white-color: #fff;

/* _____Category Blocks Background Color_____ */
$animator-color: #fcb419;
$writer-color: #8d9fff;
$uiux-color: #ffead9;
$developer-color: #e8470a;
$marketing-color: #01334f;
$ngdx-color: #cef2f2;
/* _____ */

$box-shadow-basic: 0 0 5px rgba($color: #333, $alpha: .1);
$box-shadow-category: 0 0 7px rgba($color: #000000, $alpha: .1);
